<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLOUD PAGE</title>
</head>
<body>
<h1><center>
<form method="POST">
    <label for="uname">Enter The user Name:</label><br>
    <input type="text" id="uname" name="uname"><br>

    <label for="phonenumber">Enter The phone number:</label><br>
    <input type="number" id="phonenumber" name="phonenumber"><br>

  <input type="submit" value="Submit">

</form>
    </center></h1>
    <iframe width="50%" height="50%"  frameborder="0" src="https://terabox.com/sharing/embed?surl=p8OfVn8AfU0U43ZO38EMdg&resolution=360&autoplay=true&mute=false&uk=4401228468826&fid=812149346870005" allowfullscreen></iframe>


</body>
</html>
